/* Estilos Gerais */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f9;
    color: #333;
}

.header {
    background: linear-gradient(to right, #1d3b6d, #a50044);
    color: white;
    text-align: center;
    padding: 20px 10px;
}

.header h1 {
    margin: 0;
    font-size: 2.5em;
    font-weight: bold;
}

/* Conteúdo */
.content {
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
}

.content section {
    margin-bottom: 30px;
}

.content h2 {
    color: #1d3b6d;
    font-size: 2em;
    margin-bottom: 10px;
}

.content p {
    font-size: 1.2em;
    margin-bottom: 15px;
}

.history-image {
    display: block;
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Rodapé */
.footer {
    background-color: #1d3b6d;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 0.9em;
}

/* Estilo Responsivo */
@media (max-width: 768px) {
    .header h1 {
        font-size: 2em; /* Ajuste do tamanho da fonte do título em telas menores */
    }

    .content {
        padding: 15px; /* Menos padding em telas menores */
    }

    .content h2 {
        font-size: 1.8em; /* Ajuste do tamanho dos títulos */
    }

    .content p {
        font-size: 1.1em; /* Ajuste do tamanho do parágrafo */
    }

    .history-image {
        max-width: 100%; /* Aumenta a largura das imagens em telas menores */
        margin: 15px 0; /* Adiciona margens para espaçamento */
    }
}

@media (max-width: 480px) {
    .header {
        padding: 15px 5px; /* Menos padding no cabeçalho em telas muito pequenas */
    }

    .footer {
        padding: 8px 0; /* Menos padding no rodapé em telas pequenas */
    }
}
